# Expo
.expo/
dist/
web-build/

# Dependencies
node_modules/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/
*.code-workspace

# Local Env
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Ignore standard native folders (if using Managed Workflow)
# If you prebuild, you might want to remove these lines to track native code
/ios
/android
